/* src/styles/global.css */

/* ===== 1. 导入依赖与插件 ===== */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@tailwind utilities;

/* ===== 2. 暗色模式配置 ===== */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    font-family: "Noto Serif SC", serif, "Noto Sans SC", sans-serif;
  }

  svg[id^="mermaid-"] {
    @apply bg-white dark:bg-gray-500 rounded-lg p-4 mx-auto block;

    /* 确保背景不紧贴图表边缘 */
    min-width: min-content;
  }
}
